---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

// const blog = (await getCollection("blog"))
//   .filter(post => !post.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects = (await getCollection("projects"))
//   .filter(project => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

// const allwork = (await getCollection("work"))
//   .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
//   .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

// const work = await Promise.all(
//   allwork.map(async (item) => {
//     const { Content } = await item.render();
//     return { ...item, Content };
//   })
// );

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <!-- <h1 class="animate font-semibold text-black dark:text-white">
      Welcome to ComicCollab <span class="text-xl">👋🏻</span>
    </h1> -->
    <div class="space-y-16">
      <section>
        <article class="space-y-4">

          <p class="animate">Dear Comic Book Creators,</p>

          <p class="animate">
            My name is Malachai Frazier, and like many of you, I am deeply passionate about the art of comic book creation.
            This medium has the unique power to blend stunning visuals with captivating narratives, creating stories that
             resonate across cultures and generations.
          </p>

          <!-- <p class="animate">
            Yet, one significant hurdle has always stood in the way for creators: finding the right collaborators.
          </p> -->

          <!-- <p class="animate">
            However, as a comic book creator, I understand the challenges that come with bringing these stories to life.
            From finding the right collaborators to managing project timelines, the process can be overwhelming and time-consuming.
          </p> -->

          <p class="animate">
            significant hurdle has always stood in the way for creators:
            from finding the right collaborators to managing project timelines, the process can be overwhelming and time-consuming.
          </p>

          <p class="animate">
            Navigating this challenge led me to develop ComicCollab—a web-based platform designed specifically
            for us, the storytellers of the visual world. Our goal? To simplify the process of finding and managing comic
            book projects, whether you are looking to participate in paid work or collaborative ventures that fuel your
            creative passion.
          </p>

          <h2 class="animate font-semibold text-black dark:text-white space-y-6">
            What Sets Us Apart?
          </h2>

          <p class="animate">
            ComicCollab is designed to be exceptionally intuitive and straightforward, removing the usual complexities
             associated with similar platforms to enhance ease of use.
          </p>
          <p class="animate">
            It includes integrated project management tools specifically tailored for comic book creation, akin to Trello,
             which allow users to manage project milestones, tasks, and communications all within one app, thereby focusing
             more on creativity than coordination.
          </p>
          <p class="animate">
            Additionally, the platform offers flexible collaboration options, accommodating both paid gigs and passion projects,
             enabling creators to select project types that align best with their career goals.
          </p>

          <p class="animate">
            At ComicCollab, we believe that every great story deserves to be told and that the right team makes all
             the difference. Our tools are designed to bring comic book creators together in a space that fosters
             creativity and respects individuality.
          </p>

          <p class="animate">
            As we prepare for the official launch, I invite you to join our community.
             Reach out to me <a href="https://twitter.com/malcreatesstuff" target="_blank">on Twitter/X</a>, share your thoughts,
             and help us tailor ComicCollab to meet your creative needs. Your input is invaluable as we build a
             hub where the magic of comic books comes to life through collaboration.
          </p>

          <p class="animate">
            Thank you for sharing your passion and trust with us. Together, we will redefine what it means to create
            comics in a digitally connected world.
          </p>

          <p class="animate">Let&#39;s make magic together.</p>

          <p class="animate">Warm regards,</p>
          <p class="animate">
            Malachai Frazier<br>
            Founder, Noonthirty.one<br>
            <Link href="mailto:mal@noonthirty.one" aria-label="Mal at noonthirty.one email address">
              mal@noonthirty.one
            </Link>
          </p>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
